@model InstallationViewModel

@{
    Layout = "~/Views/Installation/__Layout.cshtml";
}

<div id="content">


</div>

@*<input data-bind="value:Data.User.UserName" />
<label data-bind="text:Data.User.UserName" ></label>*@

<script src="/app_Themes/installation/views/Index.js"></script>

<script src="/app_themes/installation/views/Components.jsx"></script>
<script src="/app_themes/installation/views/Content.jsx"></script>
<script src="/app_themes/installation/views/Index.jsx"></script>

