a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover {
  color: #d0ad46; }

a:hover, a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
  color: #492814; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover {
  -webkit-box-shadow: inset 0 -2px 0 #492814;
  box-shadow: inset 0 -2px 0 #492814; }

.btn-primary, .btn-success {
  background-color: #492814; }
  .btn-primary:hover, .btn-primary:focus, .btn-success:hover, .btn-success:focus {
    background-color: #d0ad46; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }

.main-wrapper {
  margin-bottom: 100px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: rgba(180, 180, 180, 0.4);
  font-size: 13px;
  line-height: 29px; }

/* ----- Navbars -----------------------*/
.navbar {
  min-height: 40px; }
  .navbar .question {
    border-right: 1px solid #f5f5f5; }
  .navbar .main-nav {
    font-size: 14px; }
    .navbar .main-nav li {
      border-right: 1px solid #f5f5f5; }
      .navbar .main-nav li:last-child {
        border: none; }
      .navbar .main-nav li a i {
        margin-right: 5px; }
      .navbar .main-nav li a:hover {
        background-color: #eeeeee; }

.navbar-brand {
  height: 40px; }

.dropdown-menu li.selected a {
  background: #2c3e50;
  color: #fff; }

/* ----- Toolbar -----------------------*/
.toolbar {
  background: #f5f5f5;
  margin-bottom: 20px; }
  .toolbar .btn-group {
    padding: 3px 9px 0 0; }
    .toolbar .btn-group button {
      background: none;
      border: none;
      padding: 6px 9px;
      min-width: 150px; }
      .toolbar .btn-group button:focus {
        background: none;
        box-shadow: none; }
    .toolbar .btn-group.open button {
      background: #eeeeee; }

/* ----- Breadcrumb -----------------------*/
.breadcrumb {
  margin: 0; }

.pathway {
  background: #ECF0F1;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 13px; }

/* ----- Title Page -----------------------*/
.title-page {
  margin-bottom: 20px; }
  .title-page h2 {
    margin: 0; }
  .title-page button.btn {
    top: 7px; }

/* ----- Tab and Forms -----------------------*/
.tab-content-well, .tab-content.well {
  padding: 20px;
  background: #fff;
  border-radius: 0; }
  .tab-content-well .yes, .tab-content-well .no, .tab-content.well .yes, .tab-content.well .no {
    position: relative; }
    .tab-content-well .yes:before, .tab-content-well .no:before, .tab-content.well .yes:before, .tab-content.well .no:before {
      content: "\f00c";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 4px;
      left: -21px;
      color: lightgreen; }
  .tab-content-well .no::before, .tab-content.well .no::before {
    content: "\f00d";
    color: indianred; }

label.well {
  display: block;
  padding: 6px 10px; }

.input-teplate-group {
  margin-bottom: 20px; }

/* ----- Buttons -----------------------*/
.btn-add {
  position: relative;
  padding: 4px 9px 4px 22px;
  font-size: 13px; }
  .btn-add:before {
    content: "+";
    position: absolute;
    left: 7px;
    top: 0;
    font-size: 18px; }

.btn-quest {
  outline: 0 !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  position: relative;
  border: 0px;
  bottom: -8px;
  background: #5e9fcc;
  color: #fff; }

.controls .btn-success {
  margin-right: 20px; }

/* ----- Tables -----------------------*/
.table {
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin: 0; }
  .table thead tr th {
    border-bottom: 1px solid #e1e1e1; }
  .table tbody tr:nth-child(odd) td, .table tbody tr:nth-child(odd) th {
    background-color: #EFF5F7; }
  .table .table img.warning-border {
    border: solid 2px #f91; }
  .table .text-right .btn {
    margin: 0 4px; }

.table-hover > tbody > tr:hover {
  background: none; }

body > div.container {
  margin-top: 40px; }

.center-text {
  text-align: center; }

table > .widget-items > tr > td, .table > tbody > tr > td {
  vertical-align: middle; }

table > .site-items > tr > td, .table > tbody > tr > td {
  vertical-align: middle; }

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none; }

table a:not(.btn) img, .table a:not(.btn) img {
  margin-right: 10px; }

table .fa-file-text-o {
  margin-right: 6px; }

/* ----- Popover -----------------------*/
div.popover {
  min-width: 200px; }
  div.popover .popover-content {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto; }
    div.popover .popover-content .btn.btn-block {
      margin: 4px; }

/* ----- Login Modal -----------------------*/
.loginmodal-container {
  padding: 10px 30px 20px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em; }
  .loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    -moz-transition: opacity ease 0.5s;
    -o-transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s;
    transition: opacity ease 0.5s; }
  .loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative; }
  .loginmodal-container input[type=text], .loginmodal-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .loginmodal-container input[type=text]:hover, .loginmodal-container input[type=password]:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .loginmodal-container .btn {
    display: block;
    color: #fff;
    opacity: 1; }

.modal-footer {
  text-align: left; }

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px; }

.loginmodal-submit {
  border: 0;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0;
  font-size: 14px; }
  .loginmodal-submit:hover {
    border: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8; }

.login-help {
  font-size: 12px; }

/* ----- Code Mirror -----------------------*/
.CodeMirror {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: monospace;
  position: relative;
  overflow: hidden;
  height: auto;
  margin-bottom: 20px; }

.CodeMirror-focused {
  /* Bootstrap Settings */
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.btn-dark {
  color: #ffffff;
  background-color: #777777;
  border-color: #777777;
  border-radius: 0px; }

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #636363;
  border-color: #585858; }

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none; }

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #777777;
  border-color: #777777; }

label.error {
  color: #ff0000; }

.form-control.error {
  border: 1px solid #ff0000; }

/* ----- Employee -----------------------*/
.btn-employee-form-remove:hover {
  cursor: pointer; }

.employee-image {
  text-align: center;
  border: 2px dashed #ecf0f1;
  margin-bottom: 10px; }

/* ----- Site Settings -----------------------*/
.selectCurrentSiteSetting {
  float: right;
  width: 250px; }

/* ----- Widgets -----------------------*/
#widgets {
  position: relative; }
  #widgets .btn-add {
    position: absolute;
    top: 3px;
    left: 4px; }

.widget-title {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 0px;
  padding: 10px 0 5px;
  font-weight: bold; }

/* ----- Layouts -----------------------*/
.file-tree {
  margin: 0 0 15px;
  padding: 0; }
  .file-tree li {
    list-style: none;
    margin-bottom: 5px; }

/* ----- Tag Cloud -----------------------*/
.tag-cloud {
  text-align: center;
  padding: 80px; }
  .tag-cloud .tag {
    display: inline-block;
    vertical-align: middle;
    line-height: .75em;
    margin: 0 .2em; }
    .tag-cloud .tag.kind-0 {
      color: #E4BB37;
      text-transform: lowercase;
      font-size: 5em; }
    .tag-cloud .tag.kind-1 {
      color: #E68D3A;
      font-size: 3em; }
    .tag-cloud .tag.kind-2 {
      color: #CA5C00;
      font-size: 2.5em; }
    .tag-cloud .tag.kind-3 {
      color: #38879C;
      font-size: 2.25em; }
    .tag-cloud .tag.kind-4 {
      color: #003F6E;
      font-size: 2em; }
    .tag-cloud .tag.kind-5 {
      color: #DDD;
      font-size: 1.75em; }
    .tag-cloud .tag.kind-6 {
      color: #E4BB37;
      font-size: 1.5em; }
    .tag-cloud .tag.kind-7 {
      color: #38879C;
      font-size: 1.25em; }
    .tag-cloud .tag.kind-8 {
      color: #CA5C00;
      font-size: 1em; }
    .tag-cloud .tag.kind-9 {
      color: #E5E5E5;
      font-size: .8em; }

.widget-selector {
  overflow: hidden;
  padding-top: 4px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec; }
  .widget-selector label {
    display: block;
    padding: 5px 0 22px;
    cursor: pointer;
    white-space: nowrap; }
  .widget-selector input {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%); }
  .widget-selector input[type=radio]:checked + label {
    background: #fff4e5; }

#widgetSelector .nav-tabs, #addWidgetForm .nav-tabs {
  margin: 0; }
  #widgetSelector .nav-tabs > li.active a, #addWidgetForm .nav-tabs > li.active a {
    background: #f9f9f9;
    color: #000;
    -webkit-box-shadow: inset 0 -2px 0 #f9f9f9;
    box-shadow: inset 0 -2px 0 #f9f9f9; }

#widgetSelector .tab-content, #addWidgetForm .tab-content {
  background: #f9f9f9;
  padding: 20px; }
  #widgetSelector .tab-content .form-control, #addWidgetForm .tab-content .form-control {
    width: 50%;
    margin-bottom: 40px;
    /*background: rgb(253, 253, 253);*/
    /*&::-webkit-input-placeholder {
                color: #666666;
            }

            &:-moz-placeholder {
                color: #666666;
            }

            &::-moz-placeholder {
                color: #666666;;
            }

            &:-ms-input-placeholder {
                color: #666666;;
            }*/ }

.item-grid {
  margin-bottom: 20px; }

.panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.preview.image-responsive {
  width: 100%;
  height: 100%; }

@media (min-width: 1200px) {
  .modal-lg {
    width: 1170px; } }

/* ----- Summernote -----------------------*/
.note-editable .row {
  margin: 0; }

.note-editable .container, .note-editable .title, .note-editable .row, .note-editable .col-xs-1, .note-editable .col-sm-1, .note-editable .col-md-1, .note-editable .col-lg-1, .note-editable .col-xs-2, .note-editable .col-sm-2, .note-editable .col-md-2, .note-editable .col-lg-2, .note-editable .col-xs-3, .note-editable .col-sm-3, .note-editable .col-md-3, .note-editable .col-lg-3, .note-editable .col-xs-4, .note-editable .col-sm-4, .note-editable .col-md-4, .note-editable .col-lg-4, .note-editable .col-xs-5, .note-editable .col-sm-5, .note-editable .col-md-5, .note-editable .col-lg-5, .note-editable .col-xs-6, .note-editable .col-sm-6, .note-editable .col-md-6, .note-editable .col-lg-6, .note-editable .col-xs-7, .note-editable .col-sm-7, .note-editable .col-md-7, .note-editable .col-lg-7, .note-editable .col-xs-8, .note-editable .col-sm-8, .note-editable .col-md-8, .note-editable .col-lg-8, .note-editable .col-xs-9, .note-editable .col-sm-9, .note-editable .col-md-9, .note-editable .col-lg-9, .note-editable .col-xs-10, .note-editable .col-sm-10, .note-editable .col-md-10, .note-editable .col-lg-10, .note-editable .col-xs-11, .note-editable .col-sm-11, .note-editable .col-md-11, .note-editable .col-lg-11, .note-editable .col-xs-12, .note-editable .col-sm-12, .note-editable .col-md-12, .note-editable .col-lg-12 {
  border: 1px dashed #ccc;
  padding: 5px;
  background: #ecf0f1;
  min-height: 32px; }
  .note-editable .container img, .note-editable .title img, .note-editable .row img, .note-editable .col-xs-1 img, .note-editable .col-sm-1 img, .note-editable .col-md-1 img, .note-editable .col-lg-1 img, .note-editable .col-xs-2 img, .note-editable .col-sm-2 img, .note-editable .col-md-2 img, .note-editable .col-lg-2 img, .note-editable .col-xs-3 img, .note-editable .col-sm-3 img, .note-editable .col-md-3 img, .note-editable .col-lg-3 img, .note-editable .col-xs-4 img, .note-editable .col-sm-4 img, .note-editable .col-md-4 img, .note-editable .col-lg-4 img, .note-editable .col-xs-5 img, .note-editable .col-sm-5 img, .note-editable .col-md-5 img, .note-editable .col-lg-5 img, .note-editable .col-xs-6 img, .note-editable .col-sm-6 img, .note-editable .col-md-6 img, .note-editable .col-lg-6 img, .note-editable .col-xs-7 img, .note-editable .col-sm-7 img, .note-editable .col-md-7 img, .note-editable .col-lg-7 img, .note-editable .col-xs-8 img, .note-editable .col-sm-8 img, .note-editable .col-md-8 img, .note-editable .col-lg-8 img, .note-editable .col-xs-9 img, .note-editable .col-sm-9 img, .note-editable .col-md-9 img, .note-editable .col-lg-9 img, .note-editable .col-xs-10 img, .note-editable .col-sm-10 img, .note-editable .col-md-10 img, .note-editable .col-lg-10 img, .note-editable .col-xs-11 img, .note-editable .col-sm-11 img, .note-editable .col-md-11 img, .note-editable .col-lg-11 img, .note-editable .col-xs-12 img, .note-editable .col-sm-12 img, .note-editable .col-md-12 img, .note-editable .col-lg-12 img {
    max-width: 100%; }

.note-editable .container {
  background: #edfbff; }

.note-editable .row {
  background: #d6eff5;
  padding: 2px; }

.docs {
  padding: 20px;
  background: #f7f6ef;
  margin-bottom: 20px;
  display: none; }
  .docs .close {
    outline: 0 !important; }
  .docs a {
    color: #904c22;
    text-decoration: underline; }

.navigationpoint td {
  background: #c8b39a !important; }

.navigationpoint a {
  color: #a28940; }

.navigationpoint a:hover {
  color: #492814; }

.monkee_login {
  text-align: center;
  margin-bottom: 30px; }
  .monkee_login img {
    width: 150px; }

.wrap-widgetsearch {
  margin-bottom: 40px; }
  .wrap-widgetsearch .form-control {
    margin-bottom: 7px !important; }

.search-listwidget {
  position: absolute;
  top: 0px;
  right: 13px;
  width: 202px; }

.vresize {
  resize: vertical; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9.5px;
    padding-bottom: 9.5px; } }

