
@model SiteVerifyPasswordModel
@{
    Layout = "~/Views/Admin/__LayoutLogIn.cshtml";
    ViewBag.Title = "Site Login";
}


<div class="modal-dialog">
    <div class="monkee_login"><img src="~/App_Themes/admin/img/contentmonkee_logo_Affe_web.png" alt="Monkee" /></div>
    <div class="loginmodal-container">
        <h1>Site Verify</h1>
        @using (Html.BeginForm("SiteLogin", "Account", FormMethod.Post, new { id = "sitelogin" }))
        {
            <input type="hidden" name="ssid" id="ssid" value="@Model.SiteSettingId" />
            <input type="hidden" name="sid" id="sid" value="@Model.SiteId" />
            <input type="password" name="pw" id="pw" placeholder="Password" />
            <a onclick="$('#sitelogin').submit(); return false;" class="btn btn-primary">Login</a>
        }
    </div>
</div>
