<footer id="footer">
    <div class="bmenu clearfix">
        <div class="container">
            <nav class="row">
                <ul class="col-md-3">
                    <li><a href="~/#Leistungen"><strong>LEISTUNGEN</strong></a></li>
                    <li><a href="~/#IT-Beratung">IT-Beratung</a></li>
                    <li><a href="~/#Software-entwicklung">Softwareentwicklung</a></li>
                    <li><a href="~/#IT-Qualitaets-management">IT-Qualitätsmanagement</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><a href="~/#IT-Experten-fur-die-Assekuranz"><strong>TECHNOLOGIEN</strong></a></li>
                    <li><a href="~/#">Microsoft</a></li>
                    <li><a href="~/#">Oracle &amp; Java</a></li>
                    <li><a href="~/#">Web-UI</a></li>
                    <li><a href="~/#">Hewlett-Packard</a></li>
                    <li><a href="~/#">Open Source</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><a href="~/#"><strong>SPEZIALISIERUNGEN</strong></a></li>
                    <li><a href="~/#">Versicherungsbranche</a></li>
                    <li><a href="~/#">Vertriebsoptimierung</a></li>
                    <li><a href="~/#">Last &amp; Perfomance</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><a href="~/#"><strong>INNOVATIONEN</strong></a></li>
                    <li><a href="~/#">BAG.Labs</a></li>
                    <li><a href="~/#">Forschungsprojekte</a></li>
                    <li><a href="~/#">Forschungspartner</a></li>
                </ul>
            </nav>
            <nav class="row">
                <ul class="col-md-3">
                    <li><a href="~/#"><strong>KARRIERE</strong></a></li>
                    <li><a href="~/#">BAG.Talents</a></li>
                    <li><a href="~/#">BAG.Experts</a></li>
                    <li><a href="~/#">Stellenangebote</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><a href="~/#"><strong>UNTERNEHMEN</strong></a></li>
                    <li><a href="~/#">Philosophie</a></li>
                    <li><a href="~/#">Geschichte</a></li>
                    <li><a href="~/#">Ansprechpartner</a></li>
                    <li><a href="~/#">Erfolge</a></li>
                    <li><a href="~/#">Partner</a></li>
                </ul>
                <ul class="col-md-3">
                    <li>
                        <div class="social">
                            <a href="#"><i class="icon icon-xing"></i></a>
                            <a href="#"><i class="icon icon-blogger"></i></a>
                            <a href="#"><i class="icon icon-linkedin"></i></a>
                            <a href="#"><i class="icon icon-meinpraktikum"></i></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="fmenu">
        <div class="container">
            <ul class="row">
                <li class="col-md-3">© Brockhaus AG</li>
                <li class="col-md-3"><a href="#">Datenschutz</a></li>
                <li class="col-md-3"><a href="#">Impressum</a></li>
                <li class="col-md-3"><a href="#">Sitemap</a></li>
            </ul>
        </div>
    </div>
</footer>