@{
    Layout = null;
}

<div class="modal fade" id="backupdeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <h3>Löschen</h3>
            </div>
            <div class="modal-body">
                <form id="backupdeleteConfirmForm" action="/admin/" method="post">
                    <input type="hidden" name="name" />
                    <p>Möchten Sie wirklich l&ouml;schen?</p>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-danger" onclick="$('#backupdeleteConfirmForm').submit();">Ja</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default">Abbrechen</a>
            </div>
        </div>
    </div>
</div>

