@model AdminWidgetViewModel

<div class="modal fade" id="internalSiteSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close" aria-hidden="true" tabindex="-1">×</button>
                <h4 class="modal-title">Internen Link einfügen</h4>
            </div><div class="modal-body">
                <div class="form-group row">
                    <label>Anzeigetext</label>
                    <input class="note-link-text form-control col-md-12" type="text">
                </div>
                <div class="form-group row">
                    <label>Ziel des Links?</label>
                    <select name="note-link-url" class="form-control col-md-12 note-link-url">
                        @foreach (var site in Model.Sites)
                        {
                            if (site.UrlFull != string.Empty)
                            {
                                <option value="@site.UrlFull">@site.UrlFull</option>
                            }
                        }
                    </select>
                </div>
                <div class="checkbox"><label><input type="checkbox" class="note-link-newwindow"> In einem neuen Fenster öffnen</label></div>
            </div>
            <div class="modal-footer">
                <button href="#" class="btn btn-primary note-link-btn disabled" disabled="disabled">Link einfügen</button>
            </div>
        </div>
    </div>
</div>