@model AdminViewModel
@{
    Layout = "~/Views/Admin/__LayoutAdministration.cshtml";
    ViewBag.Title = Model.CurrentUser.DisplayName;
}
<div class="row">
    <div class="toolbar clearfix">
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-home"></i></a></li>
            <li><a href="/admin/SiteSettings#!users">Users</a></li>
            <li class="active">@Model.CurrentUser.DisplayName</li>
        </ol>
    </div>

    <div class="well">
        @Html.Partial("~/Views/Admin/Account/User.cshtml", Model)
    </div>
</div>